ion-input,
ion-textarea,
ion-select {
  --background: #383838; /* Fondo de entrada oscuro */
  --color: #e0e0e0; /* Texto claro */
  --placeholder-color: #a0a0a0; /* Color del placeholder */
  --padding-start: 12px;
  --padding-end: 12px;
  border-radius: 4px;
  margin: 8px 0;
}
