@import '../../theme/form.scss';
page-product {
  ion-header {
    --background: #1f1f1f; /* Encabezado oscuro */
    --color: #e0e0e0; /* Texto claro */
  }

  ion-toolbar {
    padding: 0 16px;
    ion-title {
      font-weight: bold;
    }
  }

  ion-content {
    padding: 16px;
    ion-list {
      ion-item {
        padding: 12px 16px;
        --background: #282828; /* Fondo de ítem oscuro */
        ion-label {
          color: #007bff; /* Texto azul */
        }
        ion-input {
          margin-top: 8px;
          --padding-start: 12px;
          --padding-end: 12px;
          --background: #383838; /* Fondo de entrada oscuro */
          --color: #e0e0e0; /* Texto claro */
          --placeholder-color: #a0a0a0; /* Color del placeholder */
        }
      }
    }
    ion-button {
      margin-top: 24px;
      width: 100%;
      --background: #007bff; /* Botón azul */
      --color: #fff; /* Texto blanco */
    }
  }
}