<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditing ? 'Edit Product' : 'Add Product' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Presupuesto</ion-label>
      <ion-input [(ngModel)]="product.presupuesto" name="presupuesto" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Unidad</ion-label>
      <ion-input [(ngModel)]="product.unidad" name="unidad" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Producto</ion-label>
      <ion-input [(ngModel)]="product.producto" name="producto" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input [(ngModel)]="product.cantidad" name="cantidad" type="number" (ionInput)="calculateTotal()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor Unitario</ion-label>
      <ion-input [(ngModel)]="product.valor_unitario" name="valor_unitario" type="number" (ionInput)="calculateTotal()"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor Total</ion-label>
      <ion-input [(ngModel)]="product.valor_total" name="valor_total" type="number" [readonly]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Adquisición</ion-label>
      <ion-input [(ngModel)]="product.fecha_adquisicion" name="fecha_adquisicion" type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Proveedor</ion-label>
      <ion-input [(ngModel)]="product.proveedor" name="proveedor" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="saveProduct()">{{ isEditing ? 'Update' : 'Save' }}</ion-button>
</ion-content>
