/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@import './theme/form.scss';

body {
    font-family: 'Roboto', sans-serif;
    background-color: #181818; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
    margin: 0;
    padding: 0;
  }
  
  ion-header {
    --background: #1f1f1f; /* Encabezado oscuro */
    --color: #e0e0e0; /* Texto claro */
    ion-toolbar {
      --background: #1f1f1f;
      --color: #e0e0e0;
      --padding-start: 16px;
      --padding-end: 16px;
      ion-title {
        font-weight: bold;
      }
    }
  }
  
  ion-content {
    --background: #181818; /* Fondo oscuro */
  }
  
  ion-button {
    --border-radius: 4px;
    --padding-start: 16px;
    --padding-end: 16px;
    --background: #007bff; /* Botón azul */
    --color: #fff; /* Texto blanco */
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    &:hover {
      --background: #0056b3; /* Azul oscuro al pasar el cursor */
    }
  }
  
  ion-card {
    --border-radius: 8px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --background: #282828; /* Fondo de tarjeta oscuro */
    --color: #e0e0e0; /* Texto claro */
  }
  
  ion-item {
    --background: #282828; /* Fondo de ítem oscuro */
    --border-radius: 4px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-label {
    font-size: 16px;
    color: #e0e0e0; /* Texto claro */
  }
  
  ion-input,
  ion-textarea,
  ion-select {
    --background: #383838; /* Fondo de entrada oscuro */
    --color: #e0e0e0; /* Texto claro */
    --placeholder-color: #a0a0a0; /* Color del placeholder */
    --padding-start: 12px;
    --padding-end: 12px;
    border-radius: 4px;
    margin: 8px 0;
  }