@import '../../theme/form.scss';
page-home {
  ion-header {
    --background: #1f1f1f; /* Encabezado oscuro */
    --color: #e0e0e0; /* Texto claro */
  }

  ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  ion-title {
    font-weight: bold;
  }

  ion-content {
    padding: 16px;
    ion-searchbar {
      margin-bottom: 16px;
      --background: #282828; /* Fondo de la barra de búsqueda */
      --color: #e0e0e0; /* Texto claro */
      --placeholder-color: #a0a0a0; /* Color del placeholder */
    }
    ion-list {
      ion-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        margin: 8px 0;
        --background: #282828; /* Fondo de ítem oscuro */
        ion-label {
          h2 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 4px;
            color: #e0e0e0; /* Texto claro */
          }
          p {
            margin: 0;
            color: #e0e0e0; /* Texto claro */
          }
        }
        ion-button {
          margin: 0 4px;
          --background: #007bff; /* Botón azul */
          --color: #fff; /* Texto blanco */
        }
      }
    }
  }
}